<body class="bg-indigo-900">
  <div class="sticky top-0"><%= render 'shared/navbar' %></div>
  <div class="flex-col justify-center max-w-5xl mx-auto">
    <div class="ml-8 md:ml-16 lg:ml-8 my-8 md:my-12 lg:my-16 text-yellow-200 text-2xl
                font-extrabold">
      <div class="my-2 md:my-6 text-4xl md:text-6xl font-extrabold">Create a Text Post</div>
      <%= form_with model: @text_post do |f| %>
        <div class="py-8 font-extrabold text-lg md:text-4xl">
          <%= f.text_area :body, class: "w64 md:w-3/4 bg-purple-100 text-purple-800 border-4
                border-purple-900 border-rounded font-bold py-2 px-4 rounded-xl" %>
          <div>
            <%= f.submit "Submit", class: "w-48 bg-purple-800 hover:bg-purple-700
                  border-2 border-solid border-purple-900 text-yellow-200 font-bold
                  py-2 px-4 my-4 rounded-xl hover:cursor-pointer" %>
          </div>
        </div>
      <% end %>
      <div class="my-2 text-xl md:text-2xl text-red-500 hover:text-red-300">
        <%= link_to 'Create an image post instead', new_image_post_url %>
      </div>
      <div class="my-2 text-xl md:text-2xl text-red-500 hover:text-red-300">
        <%= link_to 'Create an audio post instead', new_audio_post_url %>
      </div>
    </div>
  </div>
</body>