<body class="bg-indigo-900">
  <div class="sticky top-0"><%= render 'shared/navbar' %></div>

  <div class="flex justify-center">
    <div class="flex-col max-w-sm mr-48">
      <div class="mt-12 text-yellow-200 text-4xl font-bold">
        Edit Your Profile
      </div>
      <div class="mt-12 text-yellow-200 text-2xl font-bold">
        Fill in the form and click Update to make changes.
      </div>
    </div>

    <div class="mt-12">
      <%= form_with model: @user, method: :patch do |f| %>
        <%= f.label :profile_photo, class: "text-yellow-200 text-2xl font-bold" %><br>
        <%= f.file_field :avatar, class: "w-96 bg-purple-100 text-purple-800 border-4 border-purple-900 border-rounded font-bold py-2 px-4 mt-1 mb-8 rounded-xl" %><br>
        <%= f.label :name, class: "text-yellow-200 text-2xl font-bold" %><br>
        <%= f.text_field :name,  class: "w-96 bg-purple-100 text-purple-800 border-4 border-purple-900 border-rounded font-bold py-2 px-4 mt-1 mb-8 rounded-xl" %><br>
        <%= f.label :project_name, class: "text-yellow-200 text-2xl font-bold" %><br>
        <%= f.text_field :project_name, class: "w-96 bg-purple-100 text-purple-800 border-4 border-purple-900 border-rounded font-bold py-2 px-4 mt-1 mb-8 rounded-xl" %><br>
        <%= f.label :location, class: "text-yellow-200 text-2xl font-bold" %><br>
        <%= f.text_field :location, class: "w-96 bg-purple-100 text-purple-800 border-4 border-purple-900 border-rounded font-bold py-2 px-4 mt-1 mb-8 rounded-xl" %><br>
        <%= f.label :favorite_artist, class: "text-yellow-200 text-2xl font-bold" %><br>
        <%= f.text_field :favorite_artist, class: "w-96 bg-purple-100 text-purple-800 border-4 border-purple-900 border-rounded font-bold py-2 px-4 mt-1 mb-8 rounded-xl" %><br>
        <%= f.label :birthday, class: "text-yellow-200 text-2xl font-bold" %><br>
        <%= f.date_field :birthday, class: "w-96 bg-purple-100 text-purple-800 border-4 border-purple-900 border-rounded font-bold py-2 px-4 mt-1 mb-8 rounded-xl" %><br>
        <%= f.submit "Update", class: "w-96 bg-purple-800 hover:bg-purple-600 border-2 border-solid border-purple-900 text-white font-bold py-2 px-4 my-4 rounded-xl hover:cursor-pointer" %>
      <% end %>
    </div>
  </div>
</body>