<%= render 'shared/navbar' %>

<%= form_with model: @user, method: :patch do |f| %>
  <div class="py-8">
    <p class="font-extrabold text-6xl">
      <%= f.label :profile_photo %><br>
      <%= f.file_field :avatar %><br>
      <%= f.label :name %><br>
      <%= f.text_field :name %><br>
      <%= f.label :project_name %><br>
      <%= f.text_field :project_name %><br>
      <%= f.label :location %><br>
      <%= f.text_field :location %><br>
      <%= f.label :favorite_artist %><br>
      <%= f.text_field :favorite_artist %><br>
      <%= f.label :birthday %><br>
      <%= f.date_field :birthday %><br>
      <%= f.submit %>
    </p>
  </div>
<% end %>
