<%= render 'shared/navbar' %>

<div class="py-8">
  <p class="font-extrabold text-6xl">
    Logged in as <%= current_user.name %><br><br>
    All Users<br>
    <% @users.each do |u| %>
      <% unless u == current_user %>
        <%= link_to u.name, user_path(u.id) %> -
        <%= u.project_name %>
        <% if current_user.can_friend_request? u %>
          <%= link_to '- Make Friend Request',
            friendships_path(
              friendship: { requesting_user_id: current_user.id,
                            requested_user_id: u.id, confirmed: false }),
              method: :post %>
        <% end %><br>
      <% end %>
    <% end %><br>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  </p>
</div>
