<body class="bg-indigo-900">
  <%= render 'shared/navbar' %>
  <div class="flex-col justify-center max-w-5xl mx-auto">
    <div class="ml-8 mt-16">
      <div class="text-yellow-200 text-3xl font-bold">
        <div class="text-xl">Logged in as <%= current_user.name %></div>
        <div class="text-7xl font-extrabold">Everybody</div>
  
        <div class="my-10">
          <div class="text-4xl italic mb-3">Friends<br></div>
          <% @users.each do |u| %>
            <% if current_user.friends.include?(u) %>
              <%= render partial: 'display_user', locals: { u: u } %><br>
            <% end %>
          <% end %>
        </div>
  
        <div class="my-10">
          <div class="text-4xl italic mb-3">Waiting for Friend Confirmation<br></div>
          <% @users.each do |u| %>
            <% if current_user.friend_requesting?(u) %>
              <%= render partial: 'display_user', locals: { u: u } %><br>
            <% end %>
          <% end %>
        </div>
  
        <div class="my-10">
          <div class="text-4xl italic mb-3">Not Friends Yet!<br></div>
          <% @users.each do |u| %>
            <% if current_user.can_friend_request?(u) %>
              <%= render partial: 'display_user', locals: { u: u } %>
              <span class="text-red-500 hover:text-red-300 inline align-middle">
                <%= link_to '- Make Friend Request',
                  friendships_path(
                    friendship: { requesting_user_id: current_user.id,
                                  requested_user_id: u.id }),
                    method: :post %><br>
              </span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
