<body class="bg-indigo-900">
  <div class="sticky top-0"><%= render 'shared/navbar' %></div>
  <div class="flex-col justify-center max-w-5xl mx-auto">
    <div class="ml-8 mt-8">
      <div class="text-yellow-200 text-3xl font-bold">
        <h1 class="text-4xl sm:text-7xl font-extrabold">Everybody</h1>
  
        <div class="my-4 sm:my-10">
          <h2 class="text-2xl sm:text-4xl italic mb-3">Your Friends:</h2>
          <% if current_user.friends.empty? %>
            <h3 class="text-base italic">None</h3>
          <% else %>
            <% current_user.friends.each do |f| %>
              <div><%= render partial: 'display_user', locals: { u: f } %></div>
            <% end %>
          <% end %>
        </div>

        <div class="my-10">
          <h2 class = "text-2xl sm:text-4xl italic mb-3">People Requesting Your Friendship:</h2>
          <% if current_user.pending_friend_requests_from_others.empty? %>
            <h3 class="text-base italic">None</h3>
          <% else %>
            <% current_user.pending_friend_requests_from_others.each do |p| %>
              <div>
                <%= render partial: 'display_user', locals: { u: p.requesting_user } %>
                <%= render partial: 'confirm_or_deny_link', locals: {
                  confirm_or_deny: 'Confirm', path: confirm_friendships_path(id: p.id),
                  method: :post } %>
                <%= render partial: 'confirm_or_deny_link', locals: {
                  confirm_or_deny: 'Deny', path: friendship_path(id: p.id),
                  method: :delete } %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="my-10">
          <h2 class="text-2xl sm:text-4xl italic mb-3">You've Requested Their Friendship:</h2>
          <% if current_user.pending_friend_requests_to_others.empty? %>
            <h3 class="text-base italic">None</h3>
          <% else %>
            <% current_user.pending_friend_requests_to_others.each do |p| %>
              <%= render partial: 'display_user', locals: { u: p.requested_user } %><div>
            <% end %>
          <% end %>
        </div>

        <div class="my-10">
          <h2 class="text-2xl sm:text-4xl italic mb-3">Other People:</h2>
          <% if current_user.others_without_any_connection.empty? %>
            <h3 class = "text-base italic">None</h3>
          <% else %>
            <% current_user.others_without_any_connection.each do |u| %>
              <div>
                <%= render partial: 'display_user', locals: { u: u } %>
                <span class="ml-1 sm:ml-2 text-base sm:text-3xl text-red-500 hover:text-red-300
                             inline align-middle">
                  <%= link_to '+Friend',
                    friendships_path(friendship: { requested_user_id: u.id }),
                    class: "potential-friend", method: :post %>
                </span>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
