<body class="bg-indigo-900">
  <%= render 'shared/navbar' %>
  <div class="flex-col justify-center max-w-5xl mx-auto">
    <div class="ml-8 mt-16">
      <div class="text-yellow-200 text-3xl font-bold">
        <div class="mb-8 font-extrabold"><%= @user.name %>'s Profile</div>
          <% if @user.avatar.attached? %>
            <%= image_tag(@user.avatar, class: "object-cover w-48 h-48") %><br>
          <% else %>
            <%= image_tag 'default_pfp', class: "object-cover w-32 h-32" %><br>
          <% end %>
          <div class="mb-8">
            Project: <%= @user.project_name %><br>
            Location: <%= @user.location %><br>
            Favorite artist: <%= @user.favorite_artist %><br>
            Birthday: <%= @user.birthday %><br>
          </div>
          <div class="mb-4">Posts</div>
          <% @user.text_posts.each do |p| %>
            <div class="text-lg"><%= p.created_at %></div>
            <div class="mb-4"><%= p.body %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>