<nav class="bg-yellow-300">
  <div class="max-w-5xl mx-auto">
    <div class="flex justify-between">
      <div class="flex space-x-4">
        <div>
          <div class="flex items-center py-5 px-2 text-gray-700">
            <span><%= image_tag 'logo', class: "ml-0 w-36 rounded-lg border-4 border-purple-900" %></span>
          </div>
        </div>
        <div class="flex items-center space-x-1">
          <div class="py-5 px-3 text-gray-700 hover:text-gray-500 text-xl font-bold">
            <%= link_to 'Feed', posts_path %>
          </div>
          <div class="py-5 px-3 text-gray-700 hover:text-gray-500 text-xl font-bold">
            <%= link_to 'Everybody', users_index_path %>
          </div>
          <div class="py-5 px-3 text-gray-700 hover:text-gray-500 text-xl font-bold">
            <%= link_to 'New Post', new_text_post_path %>
          </div>
          <div class="py-5 px-3 text-gray-700 hover:text-gray-500 text-xl font-bold">
            <%= link_to 'Edit Profile', edit_user_path(current_user.id) %>
          </div>
        </div>
      </div>
      <div class="flex items-center space-x-1">
        <div class="py-5 px-8 text-gray-700 hover:text-gray-500 text-xl font-bold">
          <%= link_to current_user.name, user_path(current_user.id) %>
        </div>
        <div class="py-4 px-3 bg-yellow-500 hover:bg-yellow-200 text-gray-800 hover:text-gray-600 font-bold border-4 border-purple-900 rounded">
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        </div>
      </div>
    </div>
  </div>
</nav>
