<body class="bg-indigo-900">
  <div class="sticky top-0"><%= render 'shared/navbar' %></div>
  <div class="flex-col justify-center max-w-5xl mx-auto">
    <div class="ml-8 md:ml-16 lg:ml-8 my-8 md:my-12 lg:my-16 text-yellow-200 text-2xl
                font-extrabold">
      <div class="my-2 md:my-6 text-3xl md:text-6xl font-extrabold">Create an Image Post</div>
      <%= form_with model: @image_post do |f| %>
        <div class="mt-8 font-extrabold text-lg md:text-4xl">
          <div><%= f.label :image %></div>
          <div class="mt-4 mb-8"><%= f.file_field :image %></div>
          <div class="mt-4 mb-2"><%= f.label :caption %></div>
          <%= f.text_field :caption, class: "w-64 md:w-3/4 bg-purple-100 text-purple-800
              border-4 border-purple-900 border-rounded font-bold py-2 px-4 rounded-xl" %>
          <div>
            <%= f.submit "Submit", class: "w-48 bg-purple-800 hover:bg-purple-700
                border-2 border-solid border-purple-900 text-yellow-200 font-bold py-2
                px-4 my-4 rounded-xl hover:cursor-pointer" %>
          </div>
        </div>
      <% end %>
      <%= render partial: 'shared/link_to_other_posts',
          locals: { description: 'Create a text post instead', path: new_text_post_url } %>
      <%= render partial: 'shared/link_to_other_posts',
          locals: { description: 'Create an audio post instead', path: new_audio_post_url } %>
    </div>
  </div>
</body>