<body class="bg-indigo-900">
  <div class="sticky top-0"><%= render 'shared/navbar' %></div>
  <div class="flex-col justify-center max-w-5xl mx-auto">
    <div class="ml-8 my-16 text-yellow-200 text-2xl font-extrabold">
      <div class="my-2 text-6xl font-extrabold">Create an Image Post</div>
        <%= form_with model: @image_post do |f| %>
          <div class="mt-8 font-extrabold text-4xl">
            <div><%= f.label :image %></div>
            <div class="mt-4 mb-8"><%= f.file_field :image %></div>
            <div class="mt-4 mb-2"><%= f.label :caption %></div>
            <%= f.text_field :caption, class: "w-128 bg-purple-100 text-purple-800
                border-4 border-purple-900 border-rounded font-bold py-2 px-4 rounded-xl" %>
            <div><%= f.submit "Submit", class: "w-48 bg-purple-800 hover:bg-purple-700
                     border-2 border-solid border-purple-900 text-yellow-200 font-bold py-2
                     px-4 my-4 rounded-xl hover:cursor-pointer" %></div>
          </div>
        <% end %>
        <div class="my-2 text-red-500 hover:text-red-300">
          <%= link_to 'Create a text post instead', new_text_post_url %>
        </div>
        <div class="my-2 text-red-500 hover:text-red-300">
          <%= link_to 'Create an audio post instead', new_audio_post_url %>
        </div>
      </div>
    </div>
  </div>
</body>