<%= image_tag 'logo', class: "w-36 m-4" %>

<h2 class="m-4 text-purple-800 text-1xl font-bold">Log in:</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class: "m-4 text-purple-800 text-2xl font-bold" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-purple-300 text-purple-800 border-4 border-purple-900 border-rounded font-bold py-2 px-4 m-4 rounded" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "m-4 text-purple-800 text-2xl font-bold" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "bg-purple-300 text-purple-800 border-4 border-purple-900 border-rounded font-bold py-2 px-4 m-4 rounded" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "bg-purple-900 hover:bg-purple-800 text-white font-bold py-2 px-4 m-4 rounded hover:cursor-pointer" %>
  </div>
<% end %>

<div class="actions">
  <div class="ml-4">or</div>
  <%= link_to "Sign in", user_google_oauth2_omniauth_authorize_path, method: :post, class: "ml-4 text-purple-800 text-2xl font-bold" %>
   with Google
</div>

<%= render "devise/shared/links" %>
