<body class="bg-indigo-900">
  <div class="sticky top-0"><%= render 'shared/navbar' %></div>
  <div class="flex-col justify-center max-w-5xl mx-auto">
    <div class="ml-8 my-16">
      <div class="text-yellow-200 text-2xl font-extrabold">
        <div class="my-6 text-6xl font-extrabold">Your Feed</div>
        <% @viewable_posts.each do |p| %>
          <div class="pt-6 font-extrabold text-2xl">
            <% if p.class.name == 'TextPost' %>
              <div class="italic text-xl">Posted by <%= p.user.name %></div>
              <div class="text-lg">
                <div class="italic">
                  <%= p.created_at.in_time_zone("Pacific Time (US & Canada)")
                                  .strftime("%B %-d, %Y %H:%M:%S") %>
                </div>
              </div>
              <div class="py-4 text-4xl text-yellow-500"><%= p.body %></div>
              <%= pluralize(p.number_of_text_likes, 'Like') %>
              <% if current_user.likes.where(post_id: p.id, post_type: 'TextPost').empty? %>
                <div class="text-red-500 hover:text-red-300">
                  <%= link_to 'Like this post',
                    like_posts_path(like: { post_id: p.id, post_type: "TextPost" }),
                      method: :post %>
                </div>
              <% end %>
            <% elsif p.class.name == 'ImagePost' %>
              <div class="italic text-xl">Image posted by <%= p.user.name %></div>
              <div class="text-lg">
                <div class="italic">
                  <%= p.created_at.in_time_zone("Pacific Time (US & Canada)")
                                  .strftime("%B %-d, %Y %H:%M:%S") %>
                </div>
              </div>
              <div class="pt-4 text-4xl text-yellow-200"><%= p.caption %></div>
              <%= image_tag(p.image, class: "object-cover h-80 mt-4") %><br>
              <%= pluralize(p.number_of_image_likes, 'Like') %><br>
              <% if current_user.likes.where(post_id: p.id, post_type: 'ImagePost').empty? %>
                <div class="text-red-500 hover:text-red-300">
                  <%= link_to 'Like this image post',
                    like_posts_path(like: { post_id: p.id, post_type: "ImagePost" }),
                      method: :post %><br>
                </div>
              <% end %>
            <% else %>
              <div class="italic text-xl">Audio posted by <%= p.user.name %></div>
              <div class="text-lg">
                <%= p.created_at.in_time_zone("Pacific Time (US & Canada)")
                                .strftime("%B %-d, %Y %H:%M:%S") %>
              </div>
              <div class="pt-4 text-4xl text-yellow-200"><%= p.description %></div>
              <div class="my-4"><audio src="<%= url_for p.audio %>" controls></audio></div>
              <%= pluralize(p.number_of_audio_likes, 'Like') %><br>
              <% if current_user.likes.where(post_id: p.id, post_type: 'AudioPost').empty? %>
                <div class="text-red-500 hover:text-red-300">
                  <%= link_to 'Like this audio post',
                    like_posts_path(
                      like: { post_id: p.id, post_type: "AudioPost" }),
                      method: :post %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="py-4 font-extrabold text-lg">
            <div class="ml-8 my-4 text-2xl">Comments</div>
            <% p.comments.includes(:user).each do |c| %>
              <div class="my-4">
                <div class="ml-8"><%= c.user.name %></div>
                <div class="ml-8 text-2xl"><%= c.body %></div>
                <div class="ml-8 italic">
                  <%= c.created_at.in_time_zone("Pacific Time (US & Canada)")
                                  .strftime("%B %-d, %Y %H:%M:%S") %>
                </div>
              </div>
            <% end %>
          </div>
          <%= form_with model: Comment.new, url: comment_posts_path do |f| %>
            <div class="ml-8 font-extrabold text-lg">
              <%= f.hidden_field :post_id, value: p.id %>
              <%= f.hidden_field :post_type, value: p.class.name %>
              <%= f.text_area :body, class: "w-96 bg-purple-100 text-purple-800 border-4 border-purple-900 border-rounded font-bold py-2 px-4 rounded-xl" %>
              <div><%= f.submit "Post a comment", class: "w-48 bg-purple-800 hover:bg-purple-700 border-2 border-solid border-purple-900 text-yellow-200 font-bold py-2 px-4 my-4 rounded-xl hover:cursor-pointer" %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</body>
