<%= render 'shared/navbar' %>

<div class="py-8">
  <p class="font-extrabold text-6xl">
    Logged in as <%= current_user.name %><br><br>
    Your Feed:
  </p>
</div>
<% @viewable_posts.each do |p| %>
  <div class="py-8">
    <p class="font-extrabold text-6xl">
      <%= p.user.name %><br>
      <% if p.has_attribute?(:body) %>
        <%= p.body %><br>
      <% else %>
        <image src="<%= url_for p.image %>" width="500" height=auto>
      <% end %>
      <%= p.created_at %><br>
      <% if current_user.likes.where(post_id: p.id).empty? %>
        <%= link_to 'Like',
          like_posts_path(
            like: { post_id: p.id }),
            method: :post %><br>
      <% end %>
      <%= pluralize(p.number_of_likes, 'Like') %><br>
    </p>
  </div>
  <div class="py-8">
    <p class="font-extrabold text-4xl">
      Comments<br>
      <% p.comments.includes(:user).each do |c| %>
        <%= c.user.name %><br>
        <%= c.body %><br>
        <%= c.created_at %><br><br>
      <% end %>
    </p>
  </div>
  <%= form_with model: Comment.new, url: comment_posts_path do |f| %>
    <div class="py-8">
      <p class="font-extrabold text-4xl">
        <%= f.hidden_field :post_id, value: p.id %>
        <%= f.label :comment %><br>
        <%= f.text_area :body %>
        <%= f.submit %>
      </p>
    </div>
  <% end %>
<% end %>
