<%= render 'shared/navbar' %>

<%= form_with model: @post do |f| %>
  <div class="py-8">
    <p class="font-extrabold text-6xl">
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.label :post %><br>
      <%= f.text_area :body %><br>
      <%= f.submit %>
    </p>
  </div>
<% end %>
<div class="py-8">
  <p class="font-extrabold text-6xl">
    <%= link_to 'Back to User Index', users_index_path %><br>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  </p>
</div>
