<% if flash[:notice] %>
  <div class="notice bg-green-700 text-yellow-200 py-6 text-center text-2xl"><%= notice %></div>
<% end %>
<% if flash[:alert] %>
  <div class="alert bg-red-700 text-yellow-200 py-6 text-center text-2xl"><%= alert %></div>
<% end %>

<!DOCTYPE html>
<html>
  <head>
    <title>myTunes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
